---
name: ci

on:
  pull_request:
    branches:
      - main
    paths:
      - "images/**/Dockerfile"
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  ci:
    uses: bendwyer/github-workflows/.github/workflows/container-build-push.yml@main
